<div class="card">

  <div class="card-image py-5" [ngClass]="{'hola': toPictureImage == '', 'isMorning': toPictureImage == 'isMorning', 'isAfternoon' : toPictureImage == 'isAfternoon', 'isEvening' : toPictureImage == 'isEvening', 'isNight' : toPictureImage == 'isNight' }">

    <div class="fw-bold text-white fs-1"> 
      {{currentTime | date:'h:mm a'}}
    </div>

    <div class="text-white fs-5">
      {{weather.name}}, {{weather.sys.country}} / {{weather.main.temp | number:'1.0-0'}} &#8451;
    </div>

  </div>

  <div class="flex pb-4">
    <footer>
      <svg viewBox="0 -20 700 110" width="100%" height="50" preserveAspectRatio="none">
        <path transform="translate(0, -20)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700" fill="#FFFFFF" />
      </svg>
    </footer>

    <div class="content-i px-5">
      <div class="weather-icon-bg">
        <img src="{{BASE_URL}}/{{weather.weather[0].icon}}@2x.png" [alt]="weather.name" class="icon">
      </div>
    </div>

    <div class="row align-items-start p-2 text-muted">
      <div class="col">
        PRESSURE
      </div>
      <div class="col">
        {{weather.main.pressure}} <sup>hPa</sup>
      </div>
    </div>

    <div class="row align-items-start p-2 text-muted">
      <div class="col">
        HUMIDITY
      </div>
      <div class="col">
        {{weather.main.humidity}} <sup>%</sup>
      </div>
    </div>

    <div class="row align-items-start p-2 text-muted">
      <div class="col">
        WIND SPEED
      </div>
      <div class="col">
        {{weather.wind.speed}} <sup>m/s</sup>
      </div>
    </div>

  </div>
</div>

