.search {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &-input {
    border-radius: 1.5rem;
    border: none;
    padding: 12px 20px;
    width: 450px;
    outline: none;
    box-shadow: rgba(213, 213, 213, 0.24) 0px 3px 8px;
  }
}
